.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link___51PXa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-i6y0gBZWgptl);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link___51PXa:hover {
  color: var(--token-Nyp0IcJZEJ2v);
}
.img__rz3N5 {
  object-fit: cover;
}
.img__rz3N5 > picture > img {
  object-fit: cover;
}
.img__kkl7N {
  object-fit: cover;
}
.img__kkl7N > picture > img {
  object-fit: cover;
}
.link__m6XSs {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__m6XSs:hover {
  color: var(--token-Nyp0IcJZEJ2v);
}
.link__pikFk {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__pikFk:hover {
  color: var(--token-Nyp0IcJZEJ2v);
}
.link__ejzVs {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__ejzVs:hover {
  color: var(--token-Nyp0IcJZEJ2v);
}
.link__bWx2 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__bWx2:hover {
  color: var(--token-Nyp0IcJZEJ2v);
}
