@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-v5Abxgu1fFck: 1280px;
  --plasmic-token-inner-container: var(--token-v5Abxgu1fFck);
  --token-RXNjnCHiXTn-: 1px;
  --plasmic-token-unnamed-style-token: var(--token-RXNjnCHiXTn-);
  --token-IjhTvK1WoxWA: #d1387c;
  --plasmic-token-pink: var(--token-IjhTvK1WoxWA);
  --token-Nyp0IcJZEJ2v: #b3294d;
  --plasmic-token-red: var(--token-Nyp0IcJZEJ2v);
  --token-i6y0gBZWgptl: #1d1d21;
  --plasmic-token-black: var(--token-i6y0gBZWgptl);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-4MS9Qgu92Zmx_font-family: "Inter", sans-serif;
  --mixin-4MS9Qgu92Zmx_font-size: 16px;
  --mixin-4MS9Qgu92Zmx_font-weight: 400;
  --mixin-4MS9Qgu92Zmx_font-style: normal;
  --mixin-4MS9Qgu92Zmx_color: #4f4f4f;
  --mixin-4MS9Qgu92Zmx_text-align: left;
  --mixin-4MS9Qgu92Zmx_text-transform: none;
  --mixin-4MS9Qgu92Zmx_line-height: 1.5;
  --mixin-4MS9Qgu92Zmx_letter-spacing: normal;
  --mixin-4MS9Qgu92Zmx_white-space: pre-wrap;
  --mixin-4MS9Qgu92Zmx_user-select: text;
  --mixin-4MS9Qgu92Zmx_text-decoration-line: none;
  --mixin-4MS9Qgu92Zmx_text-overflow: clip;
  --mixin-B7vB4EP9Wz_c_color: #4f4f4f;
  --mixin-B7vB4EP9Wz_c_font-weight: 900;
  --mixin-B7vB4EP9Wz_c_font-size: 72px;
  --mixin-B7vB4EP9Wz_c_line-height: 1;
  --mixin-B7vB4EP9Wz_c_letter-spacing: -4px;
  --mixin-B7vB4EP9Wz_c_font-family: "Inter", sans-serif;
  --mixin-B7vB4EP9Wz_c_white-space: pre-wrap;
  --mixin-R1ypujQVza2A_color: #4f4f4f;
  --mixin-R1ypujQVza2A_font-size: 50px;
  --mixin-R1ypujQVza2A_font-weight: 700;
  --mixin-R1ypujQVza2A_letter-spacing: -1px;
  --mixin-R1ypujQVza2A_line-height: 1.1;
  --mixin-R1ypujQVza2A_font-family: "Inter", sans-serif;
  --mixin-R1ypujQVza2A_white-space: pre-wrap;
  --mixin-G6NxacXGKiKa_color: #0070f3;
  --mixin-G6NxacXGKiKa_white-space: pre-wrap;
  --mixin-SdX33mzJ63rt_color: #4f4f4f;
  --mixin-SdX33mzJ63rt_font-size: 32px;
  --mixin-SdX33mzJ63rt_font-weight: 700;
  --mixin-SdX33mzJ63rt_letter-spacing: -0.8px;
  --mixin-SdX33mzJ63rt_line-height: 1.2;
  --mixin-SdX33mzJ63rt_font-family: "Inter", sans-serif;
  --mixin-SdX33mzJ63rt_white-space: pre-wrap;
  --mixin-2i3cvGi4lCRb_color: #000000;
  --mixin-2i3cvGi4lCRb_font-size: 24px;
  --mixin-2i3cvGi4lCRb_font-weight: 600;
  --mixin-2i3cvGi4lCRb_letter-spacing: -0.5px;
  --mixin-2i3cvGi4lCRb_line-height: 1.3;
  --mixin-2i3cvGi4lCRb_white-space: pre-wrap;
  --mixin-cNkvez_JIg6M_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cNkvez_JIg6M_border-bottom-color: #dddddd;
  --mixin-cNkvez_JIg6M_border-bottom-style: solid;
  --mixin-cNkvez_JIg6M_border-bottom-width: 1px;
  --mixin-cNkvez_JIg6M_border-left-color: #dddddd;
  --mixin-cNkvez_JIg6M_border-left-style: solid;
  --mixin-cNkvez_JIg6M_border-left-width: 1px;
  --mixin-cNkvez_JIg6M_border-right-color: #dddddd;
  --mixin-cNkvez_JIg6M_border-right-style: solid;
  --mixin-cNkvez_JIg6M_border-right-width: 1px;
  --mixin-cNkvez_JIg6M_border-top-color: #dddddd;
  --mixin-cNkvez_JIg6M_border-top-style: solid;
  --mixin-cNkvez_JIg6M_border-top-width: 1px;
  --mixin-cNkvez_JIg6M_border-bottom-left-radius: 3px;
  --mixin-cNkvez_JIg6M_border-bottom-right-radius: 3px;
  --mixin-cNkvez_JIg6M_border-top-left-radius: 3px;
  --mixin-cNkvez_JIg6M_border-top-right-radius: 3px;
  --mixin-cNkvez_JIg6M_font-family: "Inconsolata";
  --mixin-cNkvez_JIg6M_padding-bottom: 1px;
  --mixin-cNkvez_JIg6M_padding-left: 4px;
  --mixin-cNkvez_JIg6M_padding-right: 4px;
  --mixin-cNkvez_JIg6M_padding-top: 1px;
  --mixin-cNkvez_JIg6M_white-space: pre-wrap;
  --mixin-VcD0Rkb1SNIu_border-left-color: #dddddd;
  --mixin-VcD0Rkb1SNIu_border-left-style: solid;
  --mixin-VcD0Rkb1SNIu_border-left-width: 3px;
  --mixin-VcD0Rkb1SNIu_color: #888888;
  --mixin-VcD0Rkb1SNIu_padding-left: 10px;
  --mixin-VcD0Rkb1SNIu_white-space: pre-wrap;
  --mixin-BZ49_xgIL3hf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-BZ49_xgIL3hf_border-bottom-color: #dddddd;
  --mixin-BZ49_xgIL3hf_border-bottom-style: solid;
  --mixin-BZ49_xgIL3hf_border-bottom-width: 1px;
  --mixin-BZ49_xgIL3hf_border-left-color: #dddddd;
  --mixin-BZ49_xgIL3hf_border-left-style: solid;
  --mixin-BZ49_xgIL3hf_border-left-width: 1px;
  --mixin-BZ49_xgIL3hf_border-right-color: #dddddd;
  --mixin-BZ49_xgIL3hf_border-right-style: solid;
  --mixin-BZ49_xgIL3hf_border-right-width: 1px;
  --mixin-BZ49_xgIL3hf_border-top-color: #dddddd;
  --mixin-BZ49_xgIL3hf_border-top-style: solid;
  --mixin-BZ49_xgIL3hf_border-top-width: 1px;
  --mixin-BZ49_xgIL3hf_border-bottom-left-radius: 3px;
  --mixin-BZ49_xgIL3hf_border-bottom-right-radius: 3px;
  --mixin-BZ49_xgIL3hf_border-top-left-radius: 3px;
  --mixin-BZ49_xgIL3hf_border-top-right-radius: 3px;
  --mixin-BZ49_xgIL3hf_font-family: "Inconsolata";
  --mixin-BZ49_xgIL3hf_padding-bottom: 3px;
  --mixin-BZ49_xgIL3hf_padding-left: 6px;
  --mixin-BZ49_xgIL3hf_padding-right: 6px;
  --mixin-BZ49_xgIL3hf_padding-top: 3px;
  --mixin-BZ49_xgIL3hf_white-space: pre-wrap;
  --mixin-aLoOqebWZNay_display: flex;
  --mixin-aLoOqebWZNay_flex-direction: column;
  --mixin-aLoOqebWZNay_align-items: stretch;
  --mixin-aLoOqebWZNay_justify-content: flex-start;
  --mixin-aLoOqebWZNay_list-style-position: outside;
  --mixin-aLoOqebWZNay_padding-left: 40px;
  --mixin-aLoOqebWZNay_position: relative;
  --mixin-aLoOqebWZNay_list-style-type: disc;
  --mixin-aLoOqebWZNay_white-space: pre-wrap;
  --mixin-0D5BT4Jp-tIl_display: flex;
  --mixin-0D5BT4Jp-tIl_flex-direction: column;
  --mixin-0D5BT4Jp-tIl_align-items: stretch;
  --mixin-0D5BT4Jp-tIl_justify-content: flex-start;
  --mixin-0D5BT4Jp-tIl_list-style-position: outside;
  --mixin-0D5BT4Jp-tIl_padding-left: 40px;
  --mixin-0D5BT4Jp-tIl_position: relative;
  --mixin-0D5BT4Jp-tIl_list-style-type: decimal;
  --mixin-0D5BT4Jp-tIl_white-space: pre-wrap;
  --mixin-_7tU8-Kx6lQ3_color: #000000;
  --mixin-_7tU8-Kx6lQ3_font-size: 20px;
  --mixin-_7tU8-Kx6lQ3_font-weight: 600;
  --mixin-_7tU8-Kx6lQ3_letter-spacing: -0.3px;
  --mixin-_7tU8-Kx6lQ3_line-height: 1.5;
  --mixin-_7tU8-Kx6lQ3_white-space: pre-wrap;
  --mixin-Y5i7yMqJQFAD_color: #000000;
  --mixin-Y5i7yMqJQFAD_font-size: 16px;
  --mixin-Y5i7yMqJQFAD_font-weight: 600;
  --mixin-Y5i7yMqJQFAD_line-height: 1.5;
  --mixin-Y5i7yMqJQFAD_white-space: pre-wrap;
  --mixin-CIyenp41K6zz_color: #3291ff;
  --mixin-CIyenp41K6zz_white-space: pre-wrap;
  --mixin-V1I78jE5898W_white-space: pre-wrap;
  --mixin-_X7U2n4SwHwP_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-KC7ol9qfJqsv_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-KC7ol9qfJqsv_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-4MS9Qgu92Zmx_font-family);
  font-size: var(--mixin-4MS9Qgu92Zmx_font-size);
  font-weight: var(--mixin-4MS9Qgu92Zmx_font-weight);
  font-style: var(--mixin-4MS9Qgu92Zmx_font-style);
  color: var(--mixin-4MS9Qgu92Zmx_color);
  text-align: var(--mixin-4MS9Qgu92Zmx_text-align);
  text-transform: var(--mixin-4MS9Qgu92Zmx_text-transform);
  line-height: var(--mixin-4MS9Qgu92Zmx_line-height);
  letter-spacing: var(--mixin-4MS9Qgu92Zmx_letter-spacing);
  white-space: var(--mixin-4MS9Qgu92Zmx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-B7vB4EP9Wz_c_color);
  font-weight: var(--mixin-B7vB4EP9Wz_c_font-weight);
  font-size: var(--mixin-B7vB4EP9Wz_c_font-size);
  line-height: var(--mixin-B7vB4EP9Wz_c_line-height);
  letter-spacing: var(--mixin-B7vB4EP9Wz_c_letter-spacing);
  font-family: var(--mixin-B7vB4EP9Wz_c_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-R1ypujQVza2A_color);
  font-size: var(--mixin-R1ypujQVza2A_font-size);
  font-weight: var(--mixin-R1ypujQVza2A_font-weight);
  letter-spacing: var(--mixin-R1ypujQVza2A_letter-spacing);
  line-height: var(--mixin-R1ypujQVza2A_line-height);
  font-family: var(--mixin-R1ypujQVza2A_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-G6NxacXGKiKa_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-SdX33mzJ63rt_color);
  font-size: var(--mixin-SdX33mzJ63rt_font-size);
  font-weight: var(--mixin-SdX33mzJ63rt_font-weight);
  letter-spacing: var(--mixin-SdX33mzJ63rt_letter-spacing);
  line-height: var(--mixin-SdX33mzJ63rt_line-height);
  font-family: var(--mixin-SdX33mzJ63rt_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-2i3cvGi4lCRb_color);
  font-size: var(--mixin-2i3cvGi4lCRb_font-size);
  font-weight: var(--mixin-2i3cvGi4lCRb_font-weight);
  letter-spacing: var(--mixin-2i3cvGi4lCRb_letter-spacing);
  line-height: var(--mixin-2i3cvGi4lCRb_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-cNkvez_JIg6M_font-family);
  border-radius: var(--mixin-cNkvez_JIg6M_border-top-left-radius)
    var(--mixin-cNkvez_JIg6M_border-top-right-radius)
    var(--mixin-cNkvez_JIg6M_border-bottom-right-radius)
    var(--mixin-cNkvez_JIg6M_border-bottom-left-radius);
  padding: var(--mixin-cNkvez_JIg6M_padding-top)
    var(--mixin-cNkvez_JIg6M_padding-right)
    var(--mixin-cNkvez_JIg6M_padding-bottom)
    var(--mixin-cNkvez_JIg6M_padding-left);
  border-top: var(--mixin-cNkvez_JIg6M_border-top-width)
    var(--mixin-cNkvez_JIg6M_border-top-style)
    var(--mixin-cNkvez_JIg6M_border-top-color);
  border-right: var(--mixin-cNkvez_JIg6M_border-right-width)
    var(--mixin-cNkvez_JIg6M_border-right-style)
    var(--mixin-cNkvez_JIg6M_border-right-color);
  border-bottom: var(--mixin-cNkvez_JIg6M_border-bottom-width)
    var(--mixin-cNkvez_JIg6M_border-bottom-style)
    var(--mixin-cNkvez_JIg6M_border-bottom-color);
  border-left: var(--mixin-cNkvez_JIg6M_border-left-width)
    var(--mixin-cNkvez_JIg6M_border-left-style)
    var(--mixin-cNkvez_JIg6M_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-VcD0Rkb1SNIu_color);
  padding-left: var(--mixin-VcD0Rkb1SNIu_padding-left);
  border-left: var(--mixin-VcD0Rkb1SNIu_border-left-width)
    var(--mixin-VcD0Rkb1SNIu_border-left-style)
    var(--mixin-VcD0Rkb1SNIu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-BZ49_xgIL3hf_font-family);
  border-radius: var(--mixin-BZ49_xgIL3hf_border-top-left-radius)
    var(--mixin-BZ49_xgIL3hf_border-top-right-radius)
    var(--mixin-BZ49_xgIL3hf_border-bottom-right-radius)
    var(--mixin-BZ49_xgIL3hf_border-bottom-left-radius);
  padding: var(--mixin-BZ49_xgIL3hf_padding-top)
    var(--mixin-BZ49_xgIL3hf_padding-right)
    var(--mixin-BZ49_xgIL3hf_padding-bottom)
    var(--mixin-BZ49_xgIL3hf_padding-left);
  border-top: var(--mixin-BZ49_xgIL3hf_border-top-width)
    var(--mixin-BZ49_xgIL3hf_border-top-style)
    var(--mixin-BZ49_xgIL3hf_border-top-color);
  border-right: var(--mixin-BZ49_xgIL3hf_border-right-width)
    var(--mixin-BZ49_xgIL3hf_border-right-style)
    var(--mixin-BZ49_xgIL3hf_border-right-color);
  border-bottom: var(--mixin-BZ49_xgIL3hf_border-bottom-width)
    var(--mixin-BZ49_xgIL3hf_border-bottom-style)
    var(--mixin-BZ49_xgIL3hf_border-bottom-color);
  border-left: var(--mixin-BZ49_xgIL3hf_border-left-width)
    var(--mixin-BZ49_xgIL3hf_border-left-style)
    var(--mixin-BZ49_xgIL3hf_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-aLoOqebWZNay_display);
  flex-direction: var(--mixin-aLoOqebWZNay_flex-direction);
  align-items: var(--mixin-aLoOqebWZNay_align-items);
  justify-content: var(--mixin-aLoOqebWZNay_justify-content);
  list-style-position: var(--mixin-aLoOqebWZNay_list-style-position);
  padding-left: var(--mixin-aLoOqebWZNay_padding-left);
  position: var(--mixin-aLoOqebWZNay_position);
  list-style-type: var(--mixin-aLoOqebWZNay_list-style-type);
  flex-column-gap: var(--mixin-aLoOqebWZNay_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-0D5BT4Jp-tIl_display);
  flex-direction: var(--mixin-0D5BT4Jp-tIl_flex-direction);
  align-items: var(--mixin-0D5BT4Jp-tIl_align-items);
  justify-content: var(--mixin-0D5BT4Jp-tIl_justify-content);
  list-style-position: var(--mixin-0D5BT4Jp-tIl_list-style-position);
  padding-left: var(--mixin-0D5BT4Jp-tIl_padding-left);
  position: var(--mixin-0D5BT4Jp-tIl_position);
  list-style-type: var(--mixin-0D5BT4Jp-tIl_list-style-type);
  flex-column-gap: var(--mixin-0D5BT4Jp-tIl_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-_7tU8-Kx6lQ3_color);
  font-size: var(--mixin-_7tU8-Kx6lQ3_font-size);
  font-weight: var(--mixin-_7tU8-Kx6lQ3_font-weight);
  letter-spacing: var(--mixin-_7tU8-Kx6lQ3_letter-spacing);
  line-height: var(--mixin-_7tU8-Kx6lQ3_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-Y5i7yMqJQFAD_color);
  font-size: var(--mixin-Y5i7yMqJQFAD_font-size);
  font-weight: var(--mixin-Y5i7yMqJQFAD_font-weight);
  line-height: var(--mixin-Y5i7yMqJQFAD_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CIyenp41K6zz_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
